MONGO_URI=mongodb+srv://miescalimlimup_db_user:taskpanda@taskpandacluster.o8kpwhs.mongodb.net/?appName=TaskPandaCluster
PORT=3000
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=migueleduardocalimlim@gmail.com
SMTP_PASSWORD=tqszbntkeodxagoj
MAIL_FROM=migueleduardocalimlim@gmail.com   
